.header-name {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 40px;
    color: var(--white);
    margin-block: 150px;
}

.header {
    background-image: url(../../pages/HomePage/img/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}